.myOrdersContainer {
    border: 2px solid #c0c0c0;
    border-radius: 16px;
    width: 94vw;
    overflow-x: hidden;
    margin-top: 11vh;
    position: relative;
    z-index: -1;
    box-sizing: border-box;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body {
    justify-items: center;
}
#productsContianerInMeSection {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: -6vh;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 90px;
    display: flex;
    padding-right: 8px;
    animation: appear 0.8s linear forwards;
    z-index: 1;
}
.userInfo {
    position: absolute;
    top: 14px;
    left: 10px;
    display: flex;
    gap: 12px;
    padding:  5px 8px;
    border: 1px solid #fff;
    border-radius: 25px;
}
#firstLaterContainer {
    background-color: #8f00b3;
}