:root {
    --main: #111;
    --font-color: #dab514;
    --white: #fff;
    --search-button-hover: #161616;
    --gray: #cac9c9;
    --settingsBtn-hover: #af941a;
    --emptyBox-color: #bdbbbb;
    --settingCard-hover: #f5f3f3;
}
* {
    font-weight: 600;
    cursor: default;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 1000;
}
body {
    overflow-x: hidden;
}
button {
    cursor: pointer;
}
a {
    text-decoration: none;
}
.top {
    background-color: var(--main);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 18px 12px 12px 16px;
    display: flex;
}
input[type="search"] {
    background-color: var(--white);
    border: none;
    outline: none;
    max-width: 230px;
    width: 32vw;
    height: 5vh;
    box-sizing: border-box;
    padding: 0 12px 0 2px;
    font-size: 16px;
    cursor: text;
    border-radius: 25px;
    z-index: 0;
}
.tools {
    display: flex;
    gap: 12px;
    animation: appearTools 0.8s linear 0.2s forwards;
    align-items: center;
    height: 5vh;
}
.tools button {
    position: relative;
    left: 40px;
    background-color: var(--main);
    border: 2px solid var(--white);
    color: var(--white);
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    font-size: 12px;
    display: none;
    transition: 0.2s;
}
.tools button:hover {
    background-color: var(--search-button-hover);
}
#settingsBtnIcon {
    color: var(--font-color);
    cursor: pointer;
}
#settingsBtnIcon:hover {
    color: var(--settingsBtn-hover);
}
.container {
    background-color: var(--main);
    margin-top: 6vh;
    position: absolute;
    left: 0;
    right: 0;
    height: 26vh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-sizing: border-box;
    padding: 20px 6vw;
    overflow: hidden;
    z-index: 1;
}
h1 {
    color: var(--white);
}
#yellowColor {
    color: var(--font-color);
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
text {
    animation: appear 0.8s linear 0.2s forwards;
    font-weight: 600;
}
nav {
    background-color: var(--main);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#focus {
    color: var(--font-color);
}
b:hover #focus {
    color: var(--settingsBtn-hover);
}
b:hover i , b:hover span {
    color: var(--gray);
}
i {
    color: var(--white);
    cursor: pointer;
}
a {
    color: var(--gray);
    cursor: pointer;
    animation: appear 0.5s linear 0.2s forwards;
}
.hiddenText {
    color: var(--white);
    cursor: pointer;
}
b {
    display: flex;
    gap: 10px;
}
.productsContianer {
    width: 100vw;
    margin-top: 30vh;
    box-sizing: border-box;
    padding-top: 50px;
    justify-content: center;
    padding-bottom: 90px;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: appear 0.8s linear forwards;
    z-index: 1;
}
.productCard {
    position: relative;
}
.imgBox, .priceBox, .discriptionBox, .secondLine, .thirdLine {
    background-color: var(--emptyBox-color);
    animation: load 1s linear 0.2s infinite forwards;
}
.settingsBox {
    position: absolute;
    top: 95%;
    right: 95%;
    background-color: var(--white);
    animation: appearSettingsBox 0.2s linear forwards;
    border-radius: 16px;
    width: 180px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 12px #000;
    overflow: hidden;
    padding: 0 16px;
}
.hide {
    animation: hideSettingsBox 1s linear reverse forwards;
}
.settingCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 25%;
    cursor: pointer;
    padding: 0 6px;
}
.settingCard a {
    color: var(--main);
    animation: none;
}
#paymentCard {
    border-top: 2px solid;
    border-bottom: 2px solid;
}
.settingCard:hover {
    background-color: var(--settingCard-hover);
}
.settingCard i {
    color: var(--main)
}
@keyframes appearTools {
    from {
        opacity: 0;
        translate: 200px 0;
    }
}
@keyframes appear {
    from {
        opacity: 0;
        translate: 0 100px;
    }
}
@keyframes appearSettingsBox {
    from {
        translate: 16px -16px;
        width: 0;
        height: 0;
        opacity: 0;
    }
}
@keyframes hideSettingsBox {
    to {
        translate: 16px -16px;
        width: 0;
        height: 0;
        opacity: 0;
    }
}
@keyframes load {
    0% {
        background: linear-gradient(to right bottom, #d3d3d3, var(--gray), var(--gray), var(--gray), var(--gray));
    }
    20% {
        background: linear-gradient(to right bottom, var(--gray), #d3d3d3, var(--gray), var(--gray), var(--gray));
    }
    40% {
        background: linear-gradient(to right bottom, var(--gray), var(--gray), #d3d3d3, var(--gray), var(--gray));
    }
    60% {
        background: linear-gradient(to right bottom, var(--gray), var(--gray), var(--gray), #d3d3d3, var(--gray));
    }
    80% {
        background: linear-gradient(to right bottom, var(--gray), var(--gray), var(--gray), var(--gray), #d3d3d3);
    }
    100% {
        background: linear-gradient(to right bottom, var(--gray));
    }
}
@media (max-width: 700px) {
    .hiddenText {
        display: none;
    }
    nav {
        gap: 18vw;
    }
    .productCard {
        width: 42vw;
        border-radius: 12px;
        border: 2px solid var(--gray);
        height: 60vw;
        padding: 2px;
    }
    .productsContianer {
        gap: 4vw;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .imgBox {
        width: 100%;
        height: 73%;
        border-top-right-radius: 9px;
        border-top-left-radius: 9px;
    }
    .priceBox {
        width: 39%;
        height: 8%;
        border-radius: 9px;
        margin-right: 7px;
        margin-top: 7px;
    }
    .discriptionBox {
        width: 92%;
        height: 8%;
        border-radius: 9px;
        margin-right: 7px;
        margin-top: 8px;
    }
}
@media (min-width: 701px) {
    span {
        display: block;
    }
    nav {
        gap: 16vw;
    }
    .productCard {
        width: 94vw;
        border-bottom: 2px solid var(--gray);
        height: 200px;
    }
    .productsContianer {
        flex-direction: column;
    }
    .imgBox {
        width: 180px;
        height: 90%;
        border-radius: 9px;
        position: absolute;
        top: 5%;
        right: 0;
    }
    .priceBox {
        width: 90px;
        height: 9%;
        border-radius: 9px;
        position: absolute;
        top: 10%;
        right: 190px;
    }
    .discriptionBox {
        width: 70%;
        height: 9%;
        border-radius: 9px;
        position: absolute;
        top: 26%;
        right: 190px;
    }
    .secondLine {
        width: 60%;
        height: 10%;
        border-radius: 9px;
        position: absolute;
        top: 42%;
        right: 190px;
    }
    .thirdLine {
        width: 36%;
        height: 10%;
        border-radius: 9px;
        position: absolute;
        top: 58%;
        right: 190px;
    }
}